<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>E-LEARNING WEBSITE</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body style="background-color: darkgray;">
	<div class="row" style="background-color: blue;">
		<div class="col-4"></div>
		<div class="col-4">
			<ul class="nav-bar">
				<li class="bar">
					<a href="Home.html" style="color: white; text-decoration: none;" class="header">Homepage</a>
				</li>
				<li class="bar">
					<a href="Instructors.html" style="color: white; text-decoration: none;" class="header"> instructors</a>
				</li>
				<li class="bar">
					<a href="News.html" style="color: white; text-decoration: none;" class="header">News</a>
				</li>
				<li class="bar">
					<a href="About_us.html" style="color: white; text-decoration: none ;" class="header">Contact  us</a>
				</li>
			</ul>
		</div>
		<div class="col-4"></div>
	</div>
	<div class="row">
		<div class="col-12">
		  <div class="background-image">
		<h1 class="ice" style="color: blue;">Welcome to the Deng's E-learning Website</h1>
		<p class="ice2" style="color: Red;"> Explore more about the E-website</p>
	</div>
		</div>
		
	</div>
	<div class="col-4"></div>
</div>
<div class="row">
	<div class="col-4"></div>
	<div class="col-4">
<h1 class="chainz">instructors</h1>
</div>
<div class="col-4"></div>
</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<div class="row">
				<div class="col-4">
					<div>
					<img src="../images/image1.jpg" width="300px" height="300px" class="styling">
			<h1 class="styling">Alexa Brenda</h1>	
				</div>
			</div>
				<div class="col-4">
			<img src="../images/nurse.webp" width="300px" height="310px">
			<h1>Nurse Barbra</h1>	
		</div>
			<div class="col-4">
			<img src="../images/nurse-2019420_640.jpg" width="300px" height="310px">
			<h1>Nurse Lydia</h1>		
		</div>
		</div>
			</div>
			<div class="col-1"></div>
 </div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<div class="row">
				<div class="col-4">
			<img src="../images/platting-4282018_640.jpg" width="300px" height="250px">
			<h1>Jackson</h1>	
		</div>
		<div class="col-4">
			<img src="../images/man-3803551_640.jpg" width="300px" height="250px">
			<h1>Jack Deng</h1>	
		</div>
		<div class="col-4">
			<img src="../images/man-1161337_640.jpg" width="300px" height="250px">
			<h1>Mr.Man Fredy</h1>	
		</div>
			</div>
		</div>
</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<div class="row">
		<div class="col-4">
			<div style="background-color: saddlebrown;" class="new">
			<h1>*Git*</h1>
			<img src="../images/gt.jpg" width="300px" height="300px">
			<h3>Git is a version control system that helps us track changes  within our codes</h3>	
		</div>
	</div>
		<div class="col-4">
			<div style="background-color: saddlebrown;" class="new">
			<h1>*CMD*</h1>
			<img src="../images/prom.jpg" width="350px" height="300px">
			<h3>CMD is an interface that allows us to interact with computers using commands</h3>	
		</div>
</div>
	<div class="col-4">
		<div style="background-color: saddlebrown;" class="new">
			<h1>*Grid layout system*</h1>
			<img src="../images/tx.jpg" width="310px" height="300px">
			<h3>Grid layout system is based on grid of rows and collumns used to arrange elements on a webpage</h3>
	 </div>	
		</div>
			</div>
		</div>
</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<div class="row">
				<div class="col-4">
		<div style="background-color: saddlebrown;" class="new">
			<h1>*CSS classes*</h1>
			<img src="../images/golden-3290604_640.jpg" width="300px" height="250px">
			<h3>CSS classes are a to apply styles to multiple HTML elements on a webpage</h3>
			</div>	
		</div>
		<div class="col-4">
			<div style="background-color: saddlebrown;" class="new">
			<h1>*Margin*</h1>
			<img src="../images/mp.png" width="300px" height="250px">
			<h3>Margin is a CSS property that adds spaces between an element and other elements around it. Its used to create gaps outside of an element's borders</h3>
			</div>	
		</div>
		<div class="col-4">
			<div style="background-color: saddlebrown;" class="new">
			<h1>*Fonts*</h1>
			<img src='../images/hy.jpg' width="300px" height="250px">
			<h3>Fonts are styles of text used on a webpage. A designer can choose from different font families , sizes and styles</h3>
			</div> 	
		</div>
			</div>
		</div>
	</div>
</body>
</html>