<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body  style="background-color: darkgray;">
	<div class="row" style="background-color: blue;">
		<div class="col-4"></div>
		<div class="col-4">
			<ul class="nav-bar">
				<li class="bar">
					<a href="tempaltes/News.html" style="color: white; text-decoration: none;" class="header">News</a>
				</li>
				<li class="bar">
					<a href="tempaltes/Instructors.html" style="color: white; text-decoration: none;" class="header"> instructors</a>
				</li>
				<li class="bar">
					<a href="tempaltes/About_us.html" style="color: white; text-decoration: none;" class="header">Contact us</a>
				</li>
				<li class="bar">
					<a href="tempaltes/index.html" style="color: white; text-decoration: none ;" class="header">Homepage</a>
				</li>
			</ul>
		</div>
		<div class="col-4"></div>
	</div>
	<div class="col-4"></div>
</div>
<div class="row">
	<div class="col-4"></div>
	<div class="col-4">
<h1 class="chainz">**News**</h1>
</div>
<div class="col-4"></div>
</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<div class="row">
				<div class="col-4">
					<div style="background-color: saddlebrown;" class="new">
			<img src="../images/surgery-1822458_640.jpg" width="300px" height="280px">
			<h1 style="color: darkred;">Surgery</h1>
			<h2>D.r Hinshelwood and the team succesifully carried out kidney transplant on a patient two weeks ago ..</h2>
			</div>	
		</div>
		<div class="col-4">
			<div style="background-color: saddlebrown;" class="new">
			<img src="../images/team-5842784_640.jpg" width="300px" height="280px">
			<h1 style="color: darkred;">Staff Meeting</h1>
			<h2>A staff meeting was held last week and it was aimed at tragetting the internal matters faced by the staffs members .. </h2>
			</div>	
		</div>
		<div class="col-4">
			<div style="background-color: saddlebrown;" class="new">
			<img src="../images/AI.jpg" width="300px" height="250px">
			<h1 style="color: darkred;">Research</h1>
			<h2>3rd jan 2025 D.r Hinshelwood conducted a research concerning the common diseases affetcing man's immune system... </h2>
			</div>	
		</div>
		<div class="col-4">
			<div style="background-color: saddlebrown;" class="new">
			<img src="../images/people-8563598_640.jpg" width="250px" height="330px">
			<h1 style="color: darkred;">Holiday</h1>
			<h2>This is how most our instructors spend their holidays......21st Dec</h2>
			</div>	
		</div>
			</div>
		</div>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-10">
<h1 style="background-color: blue;" class="icons">Follow Deng's webpage for more @    <img src="../images/fb.jpg" width="25px">           <img src="../images/x.jpg" width="25px"> 
</div>
<div class="col-2"></div>
</div>


</body>
</html>